<div class="modal fade" id="renewalNoticeModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Renewal Notice</h4>
            </div>
            <div class="modal-body">
                <p>Please select how to process the renewal of the selected item.</p>
                <button type="button" class="btn btn-default" id="generate">Generate</button>
                <button type="button" class="btn btn-default pull-right" id="send-to-client">Send to client</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
