<div id="company-header">
    <h3>MANILA OVERSEAS COMMERCIAL, INC.</h3>
    <h4>"Authorized by the Insurance Commission to act as an Insurance Agent"</h4>
    <p>
        201 Capt. Roja St., Addition Hills<br />
        San Juan City<br />
        Email: moci310@gmail.com<br />
        Tels. 570-4578; 570-4579 & 570-4580; 463-7871<br />
        Fax No. 570-5191
    </p>
    <br /><br />
</div>
